
/* start global rule */
*{
  box-sizing: border-box;
  -moz-box-sizing: border-box ;
  -webkit-box-sizing: border-box;
  --main-transtion:0.3s;
}
:root{
  --main-color:#2196f3;
  --secondary-color:#1787e0;
  --main-padding:100px;
  --main-section-background-color:#ececec;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Cairo', sans-serif;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}
/* small screen */
@media(min-width:768px){
  .container{
      width: 750px;
  }
}
/* medium screen */
@media(min-width:992px){
  .container{
      width: 970px;
  }
}
/* large screen */
@media(min-width:1200px){
  .container{
      width: 1170px;
  }
}
/* end global rule */

.landing{
  position: relative;
}
.landing::before{
  content: "";
  position: absolute;
  left: 0;
  top: -30px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform-origin: top left;
  transform: skewy(-6deg);
  -webkit-transform: skewy(-6deg);
  -moz-transform: skewy(-6deg);
  -ms-transform: skewy(-6deg);
  -o-transform: skewy(-6deg);
}
.landing .container{
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text{
  flex: 1;
}
@media(max-width:767px){
  .landing .text{
      width: 100%;
      text-align: center;
  }
}
.landing .text h1{
  font-size: 40px;
  padding: 0;
  letter-spacing: -2px;
}
@media(max-width:767px){
  .landing .text h1{
     font-size: 28px;
  }
}
.landing .text h1 span{
  color: var(--main-color);
}
.landing .text p{
  font-size: 24px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #777;
  max-width: 500px;
}
@media(max-width:767px){
  .landing .text p{
      margin: auto;
      font-size: 18px;
  }
}
.landing .image img{
  width: 600px;
  max-width: 100%;
  position: relative;
  animation: up-down 5s linear infinite;
  -webkit-animation: up-down 5s linear infinite;
}
@media(max-width:991px){
  .landing .image img{
      display: none;
  }
}

@keyframes up-down{
  0%{
      top: 0;
  }
  50%{
      top: -40px;
  }
  100%{
      top: 0;
  }
}
